// =============================================================================
// =ACCESSIBILITY - TOOLS
// =============================================================================

// =sr-only
// -----------------------------------------------------------------------------

@mixin sr-only()
{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// =sr-focus
// -----------------------------------------------------------------------------

@mixin sr-focus
{
  @include sr-only;

  &:focus, &:active {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}
// =ir
// -----------------------------------------------------------------------------

@mixin img-replace()
{
  text-indent: 105%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin ir() { @include img-replace; }
