// =============================================================================
// =AIR - UTILS
// =============================================================================

@import "shift/breakpoint";
@import "config/layout";

// =settings
// -----------------------------------------------------------------------------
$air-spacing: 20px;
$air-breakpoints: ();

/* =air
 * -------------------------------------------------------------------------- */

.air > * {
  margin-right: convert-length($air-spacing, 'rem');

  &:last-child {
    margin-right: 0;
  }
}

.air-none > *{
  margin-right: 0;
}

/* =<bp>-air
 * -------------------------------------------------------------------------- */

@each $bp in $air-breakpoints
{
  @include shift('>#{$bp}')
  {
    .#{$bp}-air {
      margin-right: convert-length($air-spacing, 'rem');

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
