// =============================================================================
// =UTILS - BLOCK
// =============================================================================

@import "shift/breakpoint";
@import "config/layout";

// =settings
// -----------------------------------------------------------------------------
$block-breakpoints: ();

/* =block
 * -------------------------------------------------------------------------- */

.stack > *,
.block {
  display: block;
}

/* =<bp>-block
 * -------------------------------------------------------------------------- */

@each $bp in $block-breakpoints
{
  @include shift('>#{$bp}')
  {
    .#{$bp}-stack > *,
    .#{$bp}-block {
      display: block;
    }
  }
}
