// =============================================================================
// =UTILS - CLEARFIX
// =============================================================================

@import "shift/breakpoint";
@import "config/layout";

// =settings
// -----------------------------------------------------------------------------
$clearfix-breakpoints: ();

/* =clearfix
 * -------------------------------------------------------------------------- */

.cf:after,
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

/* =<bp>-clearfix
 * -------------------------------------------------------------------------- */

@each $bp in $clearfix-breakpoints
{
  @include shift('>#{$bp}')
  {
    .#{$bp}-cf:after,
    .#{$bp}-clearfix:after {
      content: " ";
      display: block;
      clear: both;
    }
  }
}
