// =============================================================================
// =Muun - Flush Utility
// =============================================================================

// =settings
// -----------------------------------------------------------------------------

$flush-breakpoints: ();

/* =flush
 * -------------------------------------------------------------------------- */

.flush, .flush-top { margin-top: 0; }
.flush, .flush-bottom { margin-bottom: 0; }

/* =<bp>-flush
 * -------------------------------------------------------------------------- */

@each $bp in $flush-breakpoints
{
  @include shift('>#{$bp}')
  {
    .#{$bp}-flush, .#{$bp}-flush-top { margin-top: 0; }
    .#{$bp}-flush, .#{$bp}-flush-bottom { margin-bottom: 0; }
  }
}