// =============================================================================
// =Muun - Fullcaps Element
// =============================================================================

// =settings
// -----------------------------------------------------------------------------

$fullcaps-letter-spacing: 0.02em;

/* =fullcaps
 * -------------------------------------------------------------------------- */

.fullcaps {
  text-transform: uppercase;
  letter-spacing: convert-length($fullcaps-letter-spacing, 'em');
}