// =============================================================================
// =HIDE UTIL
// =============================================================================

@import "shift/breakpoint";
@import "config/layout";

// =settings
// -----------------------------------------------------------------------------
$hide-breakpoints: 's' 'sm' 'm' 'l' 'xl';

/* =hide/show
 * -------------------------------------------------------------------------- */

.hide { display: none; }
.show { display: block; }
.show-inline { display: inline-block; }

/* =<bp>-hide/<bp>-show
 * -------------------------------------------------------------------------- */

@each $bp in $hide-breakpoints
{
  @include shift('>#{$bp}')
  {
    .#{$bp}-hide { display: none; }
    .#{$bp}-show { display: block; }
    .#{$bp}-show-inline { display: inline-block; }
  }
}
