// =============================================================================
// =UTILS - INLINE
// =============================================================================

@import "shift/breakpoint";
@import "config/layout";

// =settings
// -----------------------------------------------------------------------------
$inline-breakpoints: ();

/* =inline
 * -------------------------------------------------------------------------- */

.line > *,
.inline {
  display: inline-block;
}

.line
{
  @extend .ws-collapse;

  > * {
    @extend .ws-reset;
  }
}

/* =<bp>-inline
 * -------------------------------------------------------------------------- */

@each $bp in $ir-breakpoints
{
  @include shift('>#{$bp}')
  {
    .#{$bp}-line > *,
    .#{$bp}-inline {
      display: inline-block;
    }
  }
}

