// =============================================================================
// =MEDIAN - UTILS
// =============================================================================

@import "shift/breakpoint";
@import "config/layout";

// =settings
// -----------------------------------------------------------------------------
$median-breakpoints: ();

/* =median
 * -------------------------------------------------------------------------- */

.median-auto,
.median {
  margin-left: auto;
  margin-right: auto;
}

.median-auto {
  display: table;
}

/* =<bp>-median
 * -------------------------------------------------------------------------- */

@each $bp in $median-breakpoints
{
  @include shift('>#{$bp}')
  {
    .#{$bp}-median-auto,
    .#{$bp}-median {
      margin: 0 auto;
    }

    .#{$bp}-median-auto {
      display: table;
    }
  }
}
