// =============================================================================
// =PERSPECTIVE - UTIL
// =============================================================================

@import "shift/breakpoint";
@import "config/layout";

// =settings
// -----------------------------------------------------------------------------
$perspective-depth: 100px;
$perspective-breakpoints: ();

/* =perspective
 * -------------------------------------------------------------------------- */

.perspective {
  perspective: $perspective-depth;
  transform-style: preserve-3d;
}

/* =<bp>-perspective
 * -------------------------------------------------------------------------- */

@each $bp in $overlay-breakpoints
{
  @include shift('>#{$bp}')
  {
    .#{$bp}-perspective {
      perspective: $perspective-depth;
      transform-style: preserve-3d;
    }
  }
}
