// =============================================================================
// =UTILS - WHITE-SPACE
// =============================================================================

@import "shift/breakpoint";
@import "config/layout";
@import "config/base";

// =settings
// -----------------------------------------------------------------------------
$ws-breakpoints: ();

/* =ws
 * -------------------------------------------------------------------------- */

.ws-collapse {
  font-family: sans-serif;
  text-rendering: optimizeSpeed;
  letter-spacing: -0.31em;
}

.ws-reset {
  font-family: $base-font-family; /* reset base-font */
  text-rendering: auto;
  letter-spacing: normal;
}

/* =<bp>-ws
 * -------------------------------------------------------------------------- */

@each $bp in $ws-breakpoints
{
  @include shift('>#{$bp}')
  {
    .#{$bp}-ws-collapse {
      font-family: sans-serif;
      text-rendering: optimizeSpeed;
      letter-spacing: -0.31em;
    }

    .#{$bp}-ws-reset {
      font-family: $base-font-family; /* reset base-font */
      text-rendering: auto;
      letter-spacing: normal;
    }
  }
}
