// =============================================================================
// =Muun - Base Config
// =============================================================================

@import "tools/typography";
@import "config/colors";
@import "config/typography";
@import "config/layout";

// =Typesetting
// -----------------------------------------------------------------------------

$base-font-size: 18px;
$base-font-size-sm: 22px;
$base-line-height: typescale-line-height('base', 'px');
$base-font-family: $optima-nova-font-stack;
$base-font-weight: 300;

// =Spacing
// -----------------------------------------------------------------------------

$base-spacing-vertical: $layout-spacing-vertical;

// =Text
// -----------------------------------------------------------------------------

$base-text-color: $dark-blue;
$base-background-color: $white;

// =Links
// -----------------------------------------------------------------------------

$base-link-style: null;
$base-link-color: $dark-blue;
$base-link-decoration: inherit;
$base-link-decoration-active: underline;
$base-link-color-active: $dark-blue;

// =Headings
// -----------------------------------------------------------------------------

$base-heading-font-family: $futura-font-stack;
$base-heading-font-weight: 400;
$base-heading-color: $dark-blue;
