// =============================================================================
// =Muun - Colors Config
// =============================================================================

// =Primitive Colors
// =============================================================================

$white: #fff;
$black: #000;

$light-gray: #f9f9f9;
$gray: #7e7e7e;
$mid-gray: #cbcbcb;
$dark-gray: #444444;

$light-blue: #ced4e7;
$blue: #000a3c;
$dark-blue: #000a3C;