// =============================================================================
// =Muun - Layout Config
// =============================================================================

@import "aleksi/lengths/convert";
@import "shift/set";
@import "../../data.json";
@import "config/typography";

// =Breakpoints
// -----------------------------------------------------------------------------
// feed shift with width breakpoints from 'data'

@each $bp, $width in $breakpoints {
  @include shift-set('width', $bp, $width);
}

// =Columns
// -----------------------------------------------------------------------------
$layout-columns: 12;

// =Spacing
// -----------------------------------------------------------------------------

$layout-spacing-vertical: convert-length($base-font-size, 'px');
$layout-spacing-horizontal: convert-length(10px, 'px');

// =Ratios
// -----------------------------------------------------------------------------

$ratios: (
  '16by9': 960px 540px,
  '3by2': 600px 400px,
  '1by1': 960px 960px
);