// =============================================================================
// =Muun - Typography Config
// =============================================================================

// =Fonts
// -----------------------------------------------------------------------------
$webfonts-src-path: '../fonts';
$webfonts: (

  'FuturaBT-Light': (
    ('cut': normal 300, 'filename': '2F9EF2_0_0'),
  ),

  'OptimaNovaLTPro-Regular': (
    ('cut': normal 400, 'filename': '2F9EF2_1_0'),
  )

);

$iconfonts: 'muun-icons';

// =Units
// -----------------------------------------------------------------------------
$font-size-unit: 'rem';
$line-height-unit: null;

// =Font-Stacks
// -----------------------------------------------------------------------------

$futura-font-stack: 'FuturaBT-Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
$optima-nova-font-stack: 'OptimaNovaLTPro-Regular', Georgia, serif;

// http://www.cssfontstack.com/Helvetica
$helvetica-font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

// =Typescale
// -----------------------------------------------------------------------------

$typescale: (
  "giga": 200px 200px,
  "mega": 120px 120px,
  "kilo": 80px 80px,

  "alpha": 72px 72px,
  "beta": 60px 60px,
  "gamma": 40px 40px,
  "delta": 34px 38px,
  "epsilon": 30px 34px,
  "zeta": 25px 30px,

  "base" : 22px 28px,
  "micro": 18px 20px
);