// =============================================================================
// =Muun - Carousel Module
// =============================================================================

@import "slick";

// =settings
// -----------------------------------------------------------------------------
$carousel-item-gutter: 20px;

/* =carousel
 * -------------------------------------------------------------------------- */
.carousel-items
{
  @extend .ws-collapse;
  @extend .cf;

  margin-left: -0.5 * convert-length($carousel-item-gutter, 'rem');
  margin-right: -0.5 * convert-length($carousel-item-gutter, 'rem');

  .has-carousel & {
    margin-left: auto;
    margin-right: auto;
  }
}

.carousel-item
{
  @extend .ws-reset;
  @extend .s-span-6of12;
  @extend .sm-span-4of12;
  @extend .m-span-3of12;

  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding-left: 0.5 * convert-length($carousel-item-gutter, 'rem');
  padding-right: 0.5 * convert-length($carousel-item-gutter, 'rem');

  &:focus {
    outline: 0;
  }

  .has-carousel & {
    cursor: pointer;
  }
}