// =============================================================================
// =Muun - Copy Module
// =============================================================================

// =settings
// -----------------------------------------------------------------------------
$copy-paragraph-indent: 50px;

/* =copy
 * -------------------------------------------------------------------------- */

.copy
{
  text-align: justify;

  p {
    text-indent: convert-length($copy-paragraph-indent, 'rem');
    margin-bottom: 0;
  }
}