// =============================================================================
// =Muun - Gallery Module
// =============================================================================

@import "aleksi/lengths/convert";

// =settings
// -----------------------------------------------------------------------------
$gallery-item-gutter: 2px;
$gallery-item-spacing: $base-line-height;

/* =gallery
 * -------------------------------------------------------------------------- */

.gallery-items {
  @extend .ws-collapse;

  margin-left: -0.5 * convert-length($gallery-item-gutter, 'rem');
  margin-right: -0.5 * convert-length($gallery-item-gutter, 'rem');
}

.gallery-item {
  @extend .ws-reset;
  @extend .sm-span-4of12;

  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-bottom: convert-length($gallery-item-spacing, 'em');
  padding-left: 0.5 * convert-length($gallery-item-gutter, 'rem');
  padding-right: 0.5 * convert-length($gallery-item-gutter, 'rem');
}