// =============================================================================
// =Muun - Hero Module
// =============================================================================

@import "shift/breakpoint";
@import "config/colors";
@import "config/typography";

// =settings
// -----------------------------------------------------------------------------
$hero-height: 90vh;
$hero-height-sm: 100vh;
$hero-color: $white;
$hero-font-family: $futura-font-stack;
$hero-inner-width: 90%;
$hero-inner-max-width: 1120px;

/* =hero
 * -------------------------------------------------------------------------- */

.hero
{
  position: relative;
  min-height: $hero-height;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-top: 120%;
  }

  @media screen and (min-width: shift-get('width', 's')), screen and (orientation: landscape) {
    &:before {
      padding-top: 60%;
    }
  }

  @include shift('>sm')
  {
    min-height: $hero-height-sm;

    &:before {
      padding-top: 50%;
    }
  }
}

.hero-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: none center center no-repeat transparent;
  background-size: cover;
}

.hero-inner {
  width: $hero-inner-width;
  max-width: convert-length($hero-inner-max-width, 'rem');
  margin-left: auto;
  margin-right: auto;

  color: $hero-color;
  font-family: $hero-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}