// =============================================================================
// =Muun - Navbar Module
// =============================================================================

@import "aleksi/lengths/convert";

// =settings
// -----------------------------------------------------------------------------
$navbar-height: 75px;
$navbar-height-sm: 100px;
$navbar-border: 1px solid #fff;
$navbar-title-font-size: $base-font-size;

/* =navbar
 * -------------------------------------------------------------------------- */

.navbar {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: convert-length($navbar-height, 'rem');
}

.navbar-title,
.navbar-ctrl {
  line-height: convert-length($navbar-height, 'rem');
  vertical-align: middle;
}

.navbar-title {
  margin: 0;
  font-size: convert-length($navbar-title-font-size, 'em');
}

@include shift('>sm')
{
  .navbar {
    height: convert-length($navbar-height-sm, 'rem');
  }

  .navbar-title,
  .navbar-ctrl {
    line-height: convert-length($navbar-height-sm, 'rem');
  }
}