/* =============================================================================
 * =Muun - Page Module
 * ========================================================================== */

@import "aleksi/lengths/convert";
@import "config/typography";

// =settings
// -----------------------------------------------------------------------------
$page-gutter: 20px;
$page-gutter-sm: 40px;
$page-max-width-outer: 1380px;
$page-max-width-inner: 720px;

$page-footer-font-family: $futura-font-stack;
$page-footer-spacing: $landmark-spacing;
$page-footer-spacing-s: $landmark-spacing-s;

/* =page
 * -------------------------------------------------------------------------- */

.page {
  position: relative;
  overflow: hidden;
}

.page-header,
.page-footer,
.page-outer,
.page-inner {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
}

.page-header,
.page-footer,
.page-inner {
  padding-left: convert-length($page-gutter, 'rem');
  padding-right: convert-length($page-gutter, 'rem');

  @include shift('>sm') {
    padding-left: convert-length($page-gutter-sm, 'rem');
    padding-right: convert-length($page-gutter-sm, 'rem');
  }
}

.page-footer,
.page-outer {
  max-width: convert-length($page-max-width-outer, 'rem');
}

.page-bleed
{
  margin-left: -1 * convert-length($page-gutter, 'rem');
  margin-right: -1 * convert-length($page-gutter, 'rem');

  @include shift('>sm') {
    margin-left: -1 * convert-length($page-gutter-sm, 'rem');
    margin-right: -1 * convert-length($page-gutter-sm, 'rem');
  }
}

.page-inner {
  max-width: convert-length($page-max-width-inner, 'rem');
}

.page-footer
{
  font-family: $page-footer-font-family;
  padding-top: convert-length($page-footer-spacing, 'rem');
  padding-bottom: convert-length($page-footer-spacing, 'rem');

  @include shift('>s') {
    padding-top: convert-length($page-footer-spacing-s, 'rem');
    padding-bottom: convert-length($page-footer-spacing-s, 'rem');
  }
}
