/* =============================================================================
 * =Muun - Row Module
 * ========================================================================== */

.row {
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.row-cell {
  display: table-cell;
  vertical-align: middle;
}

.row-fill {
  width: 100%;
}