// =============================================================================
// =Muun - Video Module
// =============================================================================

@import "tools/typography";
@import "config/colors";

// =settings
// -----------------------------------------------------------------------------
$video-caption-spacing: $base-line-height/2;
$video-title-font-size: typescale-font-size('zeta');

/* =video
 * -------------------------------------------------------------------------- */

body.has-video-player {
  overflow: hidden !important;
}

.video-img
{
  position: relative;

  img {
    width: 100%;
    display: block;
  }

  .icon--play,
  &:after {
    transition: all 0.35s ease-out;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }

  &:after {
    content: "";
    background: $black;
  }

  .icon--play {
    z-index: 1;
    // height: 1.65em;
    height: convert-length(map-get($icon-sizes, 'md'), 'rem');
    margin: auto !important;
    color: $white;
    transform: translate3d(0, convert-length(20px, 'rem'), 0);
  }

  .video-thumb:hover &,
  .video-thumb:hover &,
  .video-thumb:active &
  {
    &:after {
      opacity: 0.5;
    }

    .icon--play {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

.video-caption {
  margin-top: convert-length($video-caption-spacing, 'rem');
  margin-bottom: convert-length($video-caption-spacing, 'rem');
}

.video-title {
  font-size: convert-length($video-title-font-size, 'rem');
  vertical-align: middle;
}

.video-player
{
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;

  &.is-active {
    display: block;
    opacity: 1;
  }

  iframe {
    position: relative;
    z-index: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

.video-close {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  font-family: $futura-font-stack;

  &, &:visited, &:focus, &:hover, &:active {
    color: $white;
    text-decoration: none;
  }
}