// =============================================================================
// =Muun - Block-Link Element
// =============================================================================

.block-link
{
  display: block;
  text-decoration: none;

  &, &:focus, &.focus, &:hover, &.hover, &:active, &.active {
    color: inherit;
    text-decoration: none;
  }
}