// =============================================================================
// =BTN ELEMENT
// =============================================================================

@import "config/colors";
@import "tools/layout";

// =settings
// -----------------------------------------------------------------------------
$btn-font-family: $futura-font-stack;
$btn-font-size: typescale-font-size('micro');
$btn-min-width: 120px;
$btn-height: 45px;
$btn-gutter: 10px;

$btn-color: $white;
$btn-color-active: $btn-color;
$btn-background: $light-gray;
$btn-background-active: $white;

$btn-color-cta: $white;
$btn-color-cta-active: $btn-color-cta;
$btn-background-cta: $dark-gray;
$btn-background-cta-active: $black;

$btn-adjust-valign: 3px;

/* =btn-core
 * -------------------------------------------------------------------------- */

%btn-core
{
  display: inline-block;
  height: convert-length($btn-height, 'em', $btn-font-size);
  padding: 0; // reset <button> elements
  border: none;

  font-family: $btn-font-family;
  font-size: convert-length($btn-font-size, 'rem');
  line-height: convert-length($btn-height + $btn-adjust-valign, 'em', $btn-font-size);
  vertical-align: middle;
  // white-space: nowrap;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
  color: $btn-color;
  background: $btn-background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;

  &:hover, &:active &.focus {
    color: $btn-color-active;
    background: $btn-background-active;
  }
}

/* =btn
 * -------------------------------------------------------------------------- */

.btn {
  @extend %btn-core;
  min-width: convert-length($btn-min-width, 'em', $btn-font-size);
  @include gutter($btn-gutter, 'em', $btn-font-size);
}

/* =btn--<theme>
 * -------------------------------------------------------------------------- */

.btn--cta
{
  color: $btn-color-cta;
  background: $btn-background-cta;

  &:hover, &:active &.focus {
    color: $btn-color-cta-active;
    background: $btn-background-cta-active;
  }
}
