// =============================================================================
// =EPI-ICON
// =============================================================================

@import "aleksi/lengths/convert";
@import "config/base";
@import "elements/icon";

// =settings
// -----------------------------------------------------------------------------
$epi-icon-size: $icon-size;
$epi-icon-gutter: 40px;

/* =epi-icon
 * -------------------------------------------------------------------------- */

.epi-icon
{
  @extend %icon-core;

  &:before {
    display: block;
    font-size: convert-length($epi-icon-size, 'em');
    margin-bottom: convert-length($epi-icon-gutter, 'rem');
  }
}

/* =epi-icon--<size>
 * -------------------------------------------------------------------------- */

@each $sz, $font-size in $icon-sizes
{
  .epi-icon.icon--#{$sz}:before {
    font-size: convert-length(($font-size/$icon-size) * $epi-icon-size, 'em');
  }
}