// =============================================================================
// =ICON
// =============================================================================

@import "aleksi/lengths/convert";
@import "config/base";

// =settings
// -----------------------------------------------------------------------------

$icon-font-family: 'muun-icons';
$icon-size: 32px;
$icon-sizes: (
  'sm': 10px,
  'md': 50px,
  'lg': 70px
);

$codepoint-icon-play: "\e900";

/* =%icon-core
 * -------------------------------------------------------------------------- */

%icon-core {
  &:before {
    display: inline-block; // allow setting fixed width
    font-family: $icon-font-family;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center; // allow to set a fixed width
    line-height: 1;
    vertical-align: middle;
  }

  /* More crisp font rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* =icon
 * -------------------------------------------------------------------------- */

.icon {
  @extend %icon-core;

  &:before {
    font-size: convert-length($icon-size, "em");
  }
}

/* =icon--<glyph>
 * -------------------------------------------------------------------------- */

.icon--play:before { content: $codepoint-icon-play; }

/* =icon--<size>
 * -------------------------------------------------------------------------- */

@each $sz, $font-size in $icon-sizes
{
  .icon--#{$sz}:before {
    font-size: convert-length($font-size, 'em');
  }
}
