// =============================================================================
// =Muun - Landmark Element
// =============================================================================

@import "aleksi/lengths/convert";

// =settings
// -----------------------------------------------------------------------------

$landmark-spacing: 30px;
$landmark-spacing-s: 40px;

/* =landmark
 * -------------------------------------------------------------------------- */

.landmark
{
  margin-top: convert-length($landmark-spacing, 'rem');
  margin-bottom: convert-length($landmark-spacing, 'rem');

  @include shift('>s') {
    margin-top: convert-length($landmark-spacing-s, 'rem');
    margin-bottom: convert-length($landmark-spacing-s, 'rem');
  }

  &:first-child,
  > :first-child,
  > :first-child :first-child {
    margin-top: 0;
  }

  &:last-child,
  > :last-child,
  > :last-child :last-child {
    margin-bottom: 0;
  }
}