// =============================================================================
// =Muun - Milestone Element
// =============================================================================

@import "aleksi/lengths/convert";
@import "shift/breakpoint";

// =settings
// -----------------------------------------------------------------------------

$milestone-spacing: 40px;
$milestone-spacing-s: 80px;

/* =milestone
 * -------------------------------------------------------------------------- */

.milestone
{
  margin-top: convert-length($milestone-spacing, 'rem');
  margin-bottom: convert-length($milestone-spacing, 'rem');

  @include shift('>s') {
    margin-top: convert-length($milestone-spacing-s, 'rem');
    margin-bottom: convert-length($milestone-spacing-s, 'rem');
  }

  > :first-child { margin-top: 0; }
  > :last-child { margin-bottom: 0; }
}
