// =============================================================================
// =Muun - Nav-Link Elements
// =============================================================================

@import "config/colors";

// =settings
// -----------------------------------------------------------------------------

$nav-link-color: inherit;
$nav-link-decoration: inherit;
$nav-link-color-active: $light-blue;
$nav-link-decoration-active: inherit;

/* =nav-link
 * -------------------------------------------------------------------------- */

.nav-link
{
  color: $nav-link-color;
  text-decoration: $nav-link-decoration;

  &:focus, &:hover, &:active, &.active {
    color: $nav-link-color-active;
    text-decoration: $nav-link-decoration-active;
  }
}