// =============================================================================
// =PRE-ICON
// =============================================================================

@import "aleksi/lengths/convert";
@import "elements/icon";

// =settings
// -----------------------------------------------------------------------------
$pre-icon-size: 28px;
$pre-icon-gutter: 8px;

/* =pre-icon
 * -------------------------------------------------------------------------- */

.pre-icon
{
  @extend %icon-core;

  &:before {
    margin-right: convert-length($pre-icon-gutter, 'rem');
    font-size: convert-length($pre-icon-size, 'em');
    line-height: ($base-line-height/$pre-icon-size);
  }
}

/* =pre-icon--<size>
 * -------------------------------------------------------------------------- */

@each $sz, $font-size in $icon-sizes
{
  .pre-icon.icon--#{$sz}:before {
    font-size: convert-length(($font-size/$icon-size) * $pre-icon-size, 'em');
  }
}