// =============================================================================
// =Muun - Quiet-Link Element
// =============================================================================

/* =quiet-link
 * -------------------------------------------------------------------------- */

.quiet-link
{
  &, &:visited, &:focus, &:hover, &:active {
    color: inherit;
    text-decoration: inherit;
  }
}