// =============================================================================
// =Muun - Base Styles
// =============================================================================

@import "aleksi/lengths/convert";
@import "aleksi/lengths/strip-unit";

@import "shift/breakpoint";
@import "tools/typography";
@import "config/base";

/* =general
 * -------------------------------------------------------------------------- */

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: percentage($base-font-size/16px);
  color: $base-text-color;
  background: $base-background-color;
}

body
{
  margin: 0;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: convert-length($base-font-size, 'rem');
  line-height: ($base-line-height/$base-font-size);

  @include shift('>sm') {
    font-size: convert-length($base-font-size-sm, 'rem');
  }
}

h1, h2, h3, h4, h5, h6,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
  margin-top: 0;
  margin-bottom: convert-length($base-spacing-vertical, 'rem');
}

/* =links
 * -------------------------------------------------------------------------- */

a {
  color: $base-link-color;
  text-decoration: $base-link-decoration;

   &:visited, &:hover, &:active, &.active {
    color: $base-link-color-active;
    text-decoration: $base-link-decoration-active;
  }
}

/* =images
 * -------------------------------------------------------------------------- */

img {
  max-width: 100%;
  max-height: 100%;
}

/* =headings
 * -------------------------------------------------------------------------- */

%hN {
  font-family: $base-heading-font-family;
  font-weight: $base-heading-font-weight;
  text-rendering: optimizeLegibility;
  color: $base-heading-color;
}

h1, .h1 { @extend %hN; }
h2, .h2 { @extend %hN; }
h3, .h3 { @extend %hN; }
h4, .h4 { @extend %hN; }
h5, .h5 { @extend %hN; }
h6, .h6 { @extend %hN; }

/* =smallprint
 * -------------------------------------------------------------------------- */

small, .small,
.smallprint {
  @include typescale-font-size('micro');
}

/* fix nested `<small>` elements */
.smallprint small {
  font-size: 1em;
}

/* =largeprint
 * -------------------------------------------------------------------------- */

.largeprint {
  @include typescale-font-size('zeta');
}

/* =strong
 * -------------------------------------------------------------------------- */

strong {
  font-weight: inherit;
  text-decoration: underline;
}

/* =figure
 * -------------------------------------------------------------------------- */

figure {
  margin-left: 0;
  margin-right: 0;
}

/* =blockquote
 * -------------------------------------------------------------------------- */

blockquote {
  margin: 0;
}
