// =============================================================================
// =Muun - Shame Stylesheet
// =============================================================================

// =settings
// -----------------------------------------------------------------------------

.chunk
{
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 40px;

  @include shift('>s') {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.hero-wrap
{
  padding-top: convert-length($navbar-height, 'rem');

  &:after {
    content: "";
    position: absolute;
    z-index: 0;
    top: convert-length($navbar-height, 'rem');
    right: convert-length(40px, 'rem');
    bottom: 0;
    left: 0;

    background: url(../images/seven.svg) top right no-repeat transparent;
    background-size: cover;

    .no-svg & {
      background-image: url(../images/seven.png);
    }

    @include shift('>sm') {
      padding-top: convert-length($navbar-height-sm, 'rem');
      top: convert-length($navbar-height-sm, 'rem');
      right: convert-length(100px, 'rem');
    }
  }

  .hero-inner {
    position: relative;
    z-index: 2;
  }
}

.hero-inner {
  font-family: $hero-font-family !important;
}

.bg-gray {
  background-color: #eef2f5;
  overflow: hidden;
}

.page-footer .logo
{
  display: none;
  vertical-align: middle;

  @include shift('>sm') {
    display: inline-block;
  }
}