/* =============================================================================
 * =Muun - Webfonts
 * ========================================================================== */

/**
 * @license
 * MyFonts Webfont Build ID 3120882, 2015-11-06T05:34:42-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: FuturaBT-Light by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/futura/light/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * Licensed pageviews: 10,000
 *
 * Webfont: OptimaNovaLTPro-Regular by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/optima-nova-lt/pro-regular/
 * Copyright: Copyright &#x00A9; 2003 - 2008 Linotype GmbH, www.linotype.com. All rights reserved. This font software may not be reproduced, modified, disclosed or transferred without the express written approval of Linotype GmbH. Optima is a trademark of Linotype GmbH
 * Licensed pageviews: 250,000
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3120882
 *
 * © 2015 MyFonts Inc
 *
 * @import must be at top of file, otherwise CSS will not work
 */
@import url("//hello.myfonts.net/count/2f9ef2");

@import "config/typography";
@import "elements/icon";

// =defaults
// -----------------------------------------------------------------------------
$webfonts: () !default;
$iconfonts: () !default;

$webfonts-src-path: '../fonts' !default;
$iconfonts-src-path: $webfonts-src-path !default;

/* =web-fonts
 * -------------------------------------------------------------------------- */

@each $webfont, $cuts in $webfonts
{
  @each $cut in $cuts
  {
    // get cut properties
    $filename: map-get($cut, 'filename');
    $props: map-get($cut, 'cut');
    $style: nth($props, 1);
    $weight: nth($props, 2);

    @font-face {
      font-family: $webfont;
      src: url('#{$webfonts-src-path}/#{$filename}.eot'); /* IE9 Compat Modes */
      src: url('#{$webfonts-src-path}/#{$filename}.eot?#iefix') format('embedded-opentype'), /* lt IE9 */
        url('#{$webfonts-src-path}/#{$filename}.woff') format('woff'), /* Modern Browsers */
        url('#{$webfonts-src-path}/#{$filename}.ttf') format('truetype'), /* Safari, Android, iOS */
        url('#{$webfonts-src-path}/#{$filename}.svg') format('svg'); /* Legacy iOS */
      font-style: $style;
      font-weight: $weight;
    }
  }
}

/* =icon-fonts
 * -------------------------------------------------------------------------- */

@each $iconfont in $iconfonts
{
  @font-face {
    font-family: $iconfont;
    src: url('#{$iconfonts-src-path}/#{$iconfont}/#{$iconfont}.eot'); /* IE9 Compat Modes */
    src: url('#{$iconfonts-src-path}/#{$iconfont}/#{$iconfont}.eot?#iefix') format('embedded-opentype'), /* lt IE9 */
      url('#{$iconfonts-src-path}/#{$iconfont}/#{$iconfont}.woff') format('woff'), /* Modern Browsers */
      url('#{$iconfonts-src-path}/#{$iconfont}/#{$iconfont}.ttf') format('truetype'), /* Safari, Android, iOS */
      url('#{$iconfonts-src-path}/#{$iconfont}/#{$iconfont}.svg') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
  }
}